[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
awscli = "*"
jupyter = "*"
jupyterlab = "*"
boto3 = "*"
pyyaml = "*"
pylint = "*"
moto = "*"
coverage = "*"
pandas = "*"
pyarrow = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.1"
